@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=8A969FB3-BBBA-4406-B160-B843C7932EA4

npmScopes:
fortawesome:
  npmAlwaysAuth: true
  npmRegistryServer: "https://npm.fontawesome.com/"
  npmAuthToken: "8A969FB3-BBBA-4406-B160-B843C7932EA4"